faster-whisper>=0.10.0
soundcard==0.4.4
webrtcvad>=2.0.10
pynput>=1.7.6
PyYAML>=6.0
# Dependencies for Swiss German Translation:
anthropic>=0.3.0
httpx>=0.23.0
# numpy is implicitly required by faster-whisper/soundcard
# terminal-notifier is an external dependency (install via brew)
sounddevice
torch
# Add dotenv
python-dotenv
numpy
# Add GLiNER
gliner
# Add Flask for NER Service
Flask
# Add OpenAI client
openai
